body {
  font-family: Arial, sans-serif;
  background: url("https://images.unsplash.com/photo-1558611848-73f7eb4001a1") no-repeat center/cover;
  margin: 0;
  color: #fff;
}

header {
  background: rgba(0,0,0,0.7);
  padding: 15px;
  text-align: center;
}

nav button {
  background: #111;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

nav button:hover {
  background: #00ff99;
  color: #000;
}

.pantalla {
  display: none;
  background: rgba(0,0,0,0.75);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 6px 0 15px;
  border-radius: 5px;
  border: none;
}

select {
  color: #000;
}

button {
  background: #00ff99;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #00cc77;
}
